In [1831]:
import pandas as pd
import numpy as np
import random
import calendar

In [1832]:
df_sap = pd.read_csv("SAP.csv")
df_spy = pd.read_csv("SPY.csv")

In [1833]:
df_sap["True Label"] = np.where(df_sap["Return"] >= 0, "+","-")
df_spy["True Label"] = np.where(df_spy["Return"] >= 0, "+","-")

## Question 1

### 1. for each of the 5 years, compute the mean and standard deviation for the sets R, R- and R+ of daily returns for your stock for each day of the week

#### Function calculating R, Mean and Standard Deviation

In [1835]:
def calMean(df,day):
    df = df
    day = day
    
    df_R = pd.DataFrame([df[df["Weekday"] == day]["Return"].agg({"R":"count","Mean R":"mean","Std R":"std"})], index=[day]) 
    
    df_Rp = pd.DataFrame([df[(df["Weekday"] == day) & (df["Return"] >= 0)]["Return"].agg({"Rp":"count","Mean Rp":"mean","Std Rp":"std"})], index=[day]) 
   
    
    df_Rn = pd.DataFrame([df[(df["Weekday"] == day) & (df["Return"] < 0)]["Return"].agg({"Rn":"count","Mean Rn":"mean","Std Rn":"std"})], index=[day]) 
    
    df_con = pd.concat([df_R, df_Rn, df_Rp], axis=1)
   
    df_con["Mean R"] = round(df_con["Mean R"] * 100,2)
    df_con["Std R"] = round(df_con["Std R"] * 100,2)
    
    
    df_con["Mean Rp"] = round(df_con["Mean Rp"] * 100,2)
    df_con["Std Rp"] = round(df_con["Std Rp"] * 100,2)
    df_con["Mean Rn"] = round(df_con["Mean Rn"] * 100,2)
    df_con["Std Rn"] = round(df_con["Std Rn"] * 100,2)
    
    
    df_con["Rn vs Rp"] = np.where(df_con["Rn"] > df_con["Rp"],"More Negative", "More Positive")
    df_con["Mean Rn vs Mean Rp"] = np.where(abs(df_con["Mean Rn"]) > df_con["Mean Rp"],"Lost more on Negative days", "Gained more on Positive days")
    
    return df_con

In [1836]:
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday"]

### 2. summarize your results in the table as shown below (5 tables total). Page

### SAP

#### Year - 2016

In [1837]:
df1_sap_2016 = pd.DataFrame()
for j in weekdays:
    df1_sap_2016 = pd.concat([df1_sap_2016, calMean(df_sap[df_sap["Year"] == 2016],j)])
df1_sap_2016

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,46.0,0.14,1.06,20.0,-0.78,0.75,26.0,0.85,0.64,More Positive,Gained more on Positive days
Tuesday,52.0,0.36,1.29,23.0,-0.77,0.72,29.0,1.27,0.86,More Positive,Gained more on Positive days
Wednesday,52.0,0.17,1.25,27.0,-0.70,0.57,25.0,1.12,1.09,More Negative,Gained more on Positive days
Thursday,51.0,-0.13,1.15,30.0,-0.83,0.76,21.0,0.87,0.84,More Negative,Gained more on Positive days
Friday,51.0,-0.24,1.85,25.0,-1.44,1.86,26.0,0.91,0.84,More Positive,Lost more on Negative days

#### Year - 2017

In [1838]:
df1_sap_2017 = pd.DataFrame()
for j in weekdays:
    df1_sap_2017 = pd.concat([df1_sap_2017, calMean(df_sap[df_sap["Year"] == 2017],j)])
df1_sap_2017

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,46.0,0.12,1.04,23.0,-0.59,0.55,23.0,0.82,0.93,More Positive,Gained more on Positive days
Tuesday,51.0,0.06,0.60,25.0,-0.44,0.32,26.0,0.54,0.37,More Positive,Gained more on Positive days
Wednesday,52.0,0.12,0.87,21.0,-0.68,0.63,31.0,0.67,0.50,More Positive,Lost more on Negative days
Thursday,51.0,0.02,0.91,23.0,-0.73,0.70,28.0,0.64,0.51,More Positive,Lost more on Negative days
Friday,51.0,0.24,0.74,14.0,-0.62,0.52,37.0,0.57,0.50,More Positive,Lost more on Negative days

#### Year - 2018

In [1839]:
df1_sap_2018 = pd.DataFrame()
for j in weekdays:
    df1_sap_2018 = pd.concat([df1_sap_2018, calMean(df_sap[df_sap["Year"] == 2018],j)])
df1_sap_2018

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,-0.24,1.56,27.0,-1.24,1.31,21.0,1.04,0.63,More Negative,Lost more on Negative days
Tuesday,51.0,0.07,1.40,23.0,-1.10,0.75,28.0,1.02,1.02,More Positive,Lost more on Negative days
Wednesday,50.0,0.24,1.65,15.0,-1.55,1.53,35.0,1.01,0.96,More Positive,Lost more on Negative days
Thursday,51.0,-0.20,1.69,23.0,-1.47,1.68,28.0,0.84,0.71,More Positive,Lost more on Negative days
Friday,51.0,-0.02,1.27,22.0,-1.18,0.97,29.0,0.86,0.56,More Positive,Lost more on Negative days

#### Year - 2019

In [1840]:
df1_sap_2019 = pd.DataFrame()
for j in weekdays:
    df1_sap_2019 = pd.concat([df1_sap_2019, calMean(df_sap[df_sap["Year"] == 2019],j)])
df1_sap_2019

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,-0.06,0.93,24.0,-0.76,0.66,24.0,0.63,0.56,More Positive,Lost more on Negative days
Tuesday,52.0,-0.16,1.55,29.0,-1.22,1.17,23.0,1.17,0.71,More Negative,Lost more on Negative days
Wednesday,51.0,0.45,2.09,22.0,-0.81,0.85,29.0,1.41,2.25,More Positive,Gained more on Positive days
Thursday,50.0,0.06,1.37,18.0,-1.15,1.36,32.0,0.75,0.78,More Positive,Lost more on Negative days
Friday,51.0,0.38,1.83,21.0,-1.05,0.68,30.0,1.38,1.72,More Positive,Gained more on Positive days

#### Year - 2020

In [1841]:
df1_sap_2020 = pd.DataFrame()
for j in weekdays:
    df1_sap_2020 = pd.concat([df1_sap_2020, calMean(df_sap[df_sap["Year"] == 2020],j)])
df1_sap_2020

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,-0.15,4.42,16.0,-3.88,5.81,32.0,1.72,1.58,More Positive,Lost more on Negative days
Tuesday,52.0,0.27,2.32,26.0,-1.36,1.23,26.0,1.89,2.00,More Positive,Gained more on Positive days
Wednesday,52.0,0.14,2.27,19.0,-2.16,1.98,33.0,1.47,1.03,More Positive,Lost more on Negative days
Thursday,52.0,-0.21,2.65,27.0,-1.92,2.03,25.0,1.64,1.90,More Negative,Lost more on Negative days
Friday,49.0,0.11,1.74,25.0,-1.10,0.91,24.0,1.37,1.50,More Negative,Gained more on Positive days

### SPY

#### Year - 2016

In [1842]:
df1_spy_2016 = pd.DataFrame()
for j in weekdays:
    df1_spy_2016 = pd.concat([df1_spy_2016, calMean(df_spy[df_spy["Year"] == 2016],j)])
df1_spy_2016

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,46.0,0.08,0.72,20.0,-0.48,0.53,26.0,0.51,0.53,More Positive,Gained more on Positive days
Tuesday,52.0,0.11,0.85,20.0,-0.70,0.50,32.0,0.61,0.59,More Positive,Lost more on Negative days
Wednesday,52.0,0.06,0.76,24.0,-0.54,0.57,28.0,0.58,0.46,More Positive,Gained more on Positive days
Thursday,51.0,0.04,0.69,23.0,-0.48,0.55,28.0,0.47,0.45,More Positive,Lost more on Negative days
Friday,51.0,-0.02,1.04,26.0,-0.68,0.87,25.0,0.67,0.70,More Negative,Lost more on Negative days

#### Year - 2017

In [1843]:
df1_spy_2017 = pd.DataFrame()
for j in weekdays:
    df1_spy_2017 = pd.concat([df1_spy_2017, calMean(df_spy[df_spy["Year"] == 2017],j)])
df1_spy_2017

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,46.0,0.13,0.39,20.0,-0.18,0.16,26.0,0.37,0.35,More Positive,Gained more on Positive days
Tuesday,51.0,0.04,0.45,23.0,-0.32,0.30,28.0,0.34,0.30,More Positive,Gained more on Positive days
Wednesday,52.0,0.11,0.45,19.0,-0.26,0.40,33.0,0.32,0.33,More Positive,Gained more on Positive days
Thursday,51.0,-0.02,0.50,25.0,-0.38,0.42,26.0,0.32,0.28,More Positive,Lost more on Negative days
Friday,51.0,0.14,0.30,20.0,-0.16,0.10,31.0,0.33,0.23,More Positive,Gained more on Positive days

#### Year - 2018

In [1844]:
df1_spy_2018 = pd.DataFrame()
for j in weekdays:
    df1_spy_2018 = pd.concat([df1_spy_2018, calMean(df_spy[df_spy["Year"] == 2018],j)])
df1_spy_2018

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,-0.09,1.20,21.0,-1.07,1.04,27.0,0.68,0.61,More Positive,Lost more on Negative days
Tuesday,51.0,0.01,0.94,21.0,-0.77,0.78,30.0,0.56,0.58,More Positive,Lost more on Negative days
Wednesday,50.0,0.11,1.21,24.0,-0.68,0.82,26.0,0.83,1.06,More Positive,Gained more on Positive days
Thursday,51.0,-0.01,1.02,27.0,-0.69,0.91,24.0,0.76,0.40,More Negative,Gained more on Positive days
Friday,51.0,-0.09,1.01,23.0,-0.91,0.83,28.0,0.58,0.53,More Positive,Lost more on Negative days

#### Year - 2019

In [1845]:
df1_spy_2019 = pd.DataFrame()
for j in weekdays:
    df1_spy_2019 = pd.concat([df1_spy_2019, calMean(df_spy[df_spy["Year"] == 2019],j)])
df1_spy_2019

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,-0.02,0.82,22.0,-0.62,0.76,26.0,0.49,0.42,More Positive,Lost more on Negative days
Tuesday,52.0,0.08,0.79,24.0,-0.54,0.51,28.0,0.61,0.56,More Positive,Gained more on Positive days
Wednesday,51.0,0.07,0.73,19.0,-0.59,0.71,32.0,0.46,0.36,More Positive,Lost more on Negative days
Thursday,50.0,0.18,0.71,19.0,-0.47,0.58,31.0,0.57,0.43,More Positive,Gained more on Positive days
Friday,51.0,0.24,0.90,18.0,-0.61,0.69,33.0,0.70,0.61,More Positive,Gained more on Positive days

#### Year - 2020

In [1846]:
df1_spy_2020 = pd.DataFrame()
for j in weekdays:
    df1_spy_2020 = pd.concat([df1_spy_2020, calMean(df_spy[df_spy["Year"] == 2020],j)])
df1_spy_2020

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,48.0,0.15,2.63,16.0,-2.25,2.97,32.0,1.35,1.34,More Positive,Lost more on Negative days
Tuesday,52.0,0.36,2.04,24.0,-1.03,0.98,28.0,1.55,1.97,More Positive,Gained more on Positive days
Wednesday,52.0,0.11,1.87,20.0,-1.63,1.65,32.0,1.19,0.97,More Positive,Lost more on Negative days
Thursday,52.0,-0.18,2.13,23.0,-1.55,2.35,29.0,0.90,1.09,More Positive,Lost more on Negative days
Friday,49.0,0.01,1.82,24.0,-1.15,1.04,25.0,1.13,1.71,More Positive,Lost more on Negative days

### 3. are there more days with negative or non-negative returns?

In general there are more positive days then negative days.

#### SAP

#### 2016

In [1847]:
df1_sap_2016[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     20.0  26.0  More Positive
Tuesday    23.0  29.0  More Positive
Wednesday  27.0  25.0  More Negative
Thursday   30.0  21.0  More Negative
Friday     25.0  26.0  More Positive

#### 2017

In [1848]:
df1_sap_2017[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     23.0  23.0  More Positive
Tuesday    25.0  26.0  More Positive
Wednesday  21.0  31.0  More Positive
Thursday   23.0  28.0  More Positive
Friday     14.0  37.0  More Positive

#### 2018

In [1849]:
df1_sap_2018[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     27.0  21.0  More Negative
Tuesday    23.0  28.0  More Positive
Wednesday  15.0  35.0  More Positive
Thursday   23.0  28.0  More Positive
Friday     22.0  29.0  More Positive

#### 2019

In [1850]:
df1_sap_2019[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     24.0  24.0  More Positive
Tuesday    29.0  23.0  More Negative
Wednesday  22.0  29.0  More Positive
Thursday   18.0  32.0  More Positive
Friday     21.0  30.0  More Positive

#### 2020

In [1851]:
df1_sap_2020[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     16.0  32.0  More Positive
Tuesday    26.0  26.0  More Positive
Wednesday  19.0  33.0  More Positive
Thursday   27.0  25.0  More Negative
Friday     25.0  24.0  More Negative

#### SPY

#### 2016

In [1852]:
df1_spy_2016[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     20.0  26.0  More Positive
Tuesday    20.0  32.0  More Positive
Wednesday  24.0  28.0  More Positive
Thursday   23.0  28.0  More Positive
Friday     26.0  25.0  More Negative

#### 2017

In [1853]:
df1_spy_2017[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     20.0  26.0  More Positive
Tuesday    23.0  28.0  More Positive
Wednesday  19.0  33.0  More Positive
Thursday   25.0  26.0  More Positive
Friday     20.0  31.0  More Positive

#### 2018

In [1854]:
df1_spy_2018[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     21.0  27.0  More Positive
Tuesday    21.0  30.0  More Positive
Wednesday  24.0  26.0  More Positive
Thursday   27.0  24.0  More Negative
Friday     23.0  28.0  More Positive

#### 2019

In [1855]:
df1_spy_2019[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     22.0  26.0  More Positive
Tuesday    24.0  28.0  More Positive
Wednesday  19.0  32.0  More Positive
Thursday   19.0  31.0  More Positive
Friday     18.0  33.0  More Positive

#### 2020

In [1856]:
df1_spy_2020[["Rn","Rp","Rn vs Rp"]]

             Rn    Rp       Rn vs Rp
Monday     16.0  32.0  More Positive
Tuesday    24.0  28.0  More Positive
Wednesday  20.0  32.0  More Positive
Thursday   23.0  29.0  More Positive
Friday     24.0  25.0  More Positive

### 4. does your stock lose more on a "down" day than it gains on an "up" days.

Both the stock **SAP** and **SPY** lose more on a "down day" then they gain on a "up day"

#### SAP

#### 2016

In [1857]:
df1_sap_2016[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.78     0.85  Gained more on Positive days
Tuesday      -0.77     1.27  Gained more on Positive days
Wednesday    -0.70     1.12  Gained more on Positive days
Thursday     -0.83     0.87  Gained more on Positive days
Friday       -1.44     0.91    Lost more on Negative days

#### 2017

In [1858]:
df1_sap_2017[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.59     0.82  Gained more on Positive days
Tuesday      -0.44     0.54  Gained more on Positive days
Wednesday    -0.68     0.67    Lost more on Negative days
Thursday     -0.73     0.64    Lost more on Negative days
Friday       -0.62     0.57    Lost more on Negative days

#### 2018

In [1859]:
df1_sap_2018[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp          Mean Rn vs Mean Rp
Monday       -1.24     1.04  Lost more on Negative days
Tuesday      -1.10     1.02  Lost more on Negative days
Wednesday    -1.55     1.01  Lost more on Negative days
Thursday     -1.47     0.84  Lost more on Negative days
Friday       -1.18     0.86  Lost more on Negative days

#### 2019

In [1860]:
df1_sap_2019[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.76     0.63    Lost more on Negative days
Tuesday      -1.22     1.17    Lost more on Negative days
Wednesday    -0.81     1.41  Gained more on Positive days
Thursday     -1.15     0.75    Lost more on Negative days
Friday       -1.05     1.38  Gained more on Positive days

#### 2020

In [1861]:
df1_sap_2020[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -3.88     1.72    Lost more on Negative days
Tuesday      -1.36     1.89  Gained more on Positive days
Wednesday    -2.16     1.47    Lost more on Negative days
Thursday     -1.92     1.64    Lost more on Negative days
Friday       -1.10     1.37  Gained more on Positive days

#### SPY

#### 2016

In [1862]:
df1_spy_2016[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.48     0.51  Gained more on Positive days
Tuesday      -0.70     0.61    Lost more on Negative days
Wednesday    -0.54     0.58  Gained more on Positive days
Thursday     -0.48     0.47    Lost more on Negative days
Friday       -0.68     0.67    Lost more on Negative days

#### 2017

In [1863]:
df1_spy_2017[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.18     0.37  Gained more on Positive days
Tuesday      -0.32     0.34  Gained more on Positive days
Wednesday    -0.26     0.32  Gained more on Positive days
Thursday     -0.38     0.32    Lost more on Negative days
Friday       -0.16     0.33  Gained more on Positive days

#### 2018

In [1864]:
df1_spy_2018[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -1.07     0.68    Lost more on Negative days
Tuesday      -0.77     0.56    Lost more on Negative days
Wednesday    -0.68     0.83  Gained more on Positive days
Thursday     -0.69     0.76  Gained more on Positive days
Friday       -0.91     0.58    Lost more on Negative days

#### 2019

In [1865]:
df1_spy_2019[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -0.62     0.49    Lost more on Negative days
Tuesday      -0.54     0.61  Gained more on Positive days
Wednesday    -0.59     0.46    Lost more on Negative days
Thursday     -0.47     0.57  Gained more on Positive days
Friday       -0.61     0.70  Gained more on Positive days

#### 2020

In [1866]:
df1_spy_2020[["Mean Rn","Mean Rp","Mean Rn vs Mean Rp"]]

           Mean Rn  Mean Rp            Mean Rn vs Mean Rp
Monday       -2.25     1.35    Lost more on Negative days
Tuesday      -1.03     1.55  Gained more on Positive days
Wednesday    -1.63     1.19    Lost more on Negative days
Thursday     -1.55     0.90    Lost more on Negative days
Friday       -1.15     1.13    Lost more on Negative days

#### 5.are these results the same across days of the week?

* **SAP**

* **SPY**
    
The results are not same for both SAP and SPY, each year no. of up days and no of down days vary for both of them in respect to weekdays.

## Question 2

### 1. are there any patterns across days of the week?

* All though we see More positive days then negative days in generall across all days of the week for all 5 years, there is one pattern I see is that Mean Negative return is more than the Mean positive return on most days of the week for all 5 years.

### 2. are there any patterns across different years for the same day of the week?

* **SAP** - Below are loss/gain average of 5 years for each day
    * Mon - Majority loss on 
    * Tue - Majority Gain on 
    * Wed - Majority loss on
    * Thur - Majority loss on
    * Fri - Majority loss on


For SAP has all 5 days as negative days as a majority for the year 2018.

* **SPY** - Below are loss/gain average of 5 years for each day
    * Mon - Majority loss on 
    * Tue - Majority Gain on 
    * Wed - Majority Gain on
    * Thur - Majority loss on
    * Fri - Majority loss on


For SPY has all 4 days as positive days as a majority for the year 2017.

### 3. what are the best and worst days of the week to be invested for each year?

In [1867]:
year = [2020,2019,2018,2017,2016]
spy_b = ["Tue","Fri","Wed","Fri","Tue"]
spy_w = ["Thur","Mon","Mon & Fri","Thur","Fri"]

df_b_w_spy = pd.DataFrame([year, spy_b, spy_w], index=["Year", "Best Day", "Worst Day"])
print("""
Best and Worst days of the week year by year.
""")

df_b_w_spy

Best and Worst days of the week year by year.

              0     1          2     3     4
Year       2020  2019       2018  2017  2016
Best Day    Tue   Fri        Wed   Fri   Tue
Worst Day  Thur   Mon  Mon & Fri  Thur   Fri

In [1868]:
sap_b = ["Tue","Wed","Wed","Fri","Tue"]
sap_w = ["Thur","Tue","Mon","Thur","Fri"]

df_b_w_sap = pd.DataFrame([year, sap_b, sap_w], index=["Year", "Best Day", "Worst Day"])

print("""
Best and Worst days of the week year by year.
""")

df_b_w_sap

Best and Worst days of the week year by year.

              0     1     2     3     4
Year       2020  2019  2018  2017  2016
Best Day    Tue   Wed   Wed   Fri   Tue
Worst Day  Thur   Tue   Mon  Thur   Fri

### 4. do these days change from year to year for your stock?

#### SAP

* Best
    * Tuesday and Wednesday remains to be the best day over 5 years to invest
    
* Worst
    * Thursday turns out to be the worst day over 5 years.
    
This days do change over the years.

#### SPY

* Best
    * Tuesday and Friday remains to be the best day over 5 years for SPY
* Worst 
    * Monday remains to be the worst day to invest over 5 year in average.
    
This days do change over year - year.

## Question 3

### 1. what is the best and worst days of the week for each?

In [1869]:
sap_5y = pd.DataFrame()
for j in weekdays:
    sap_5y = pd.concat([sap_5y, calMean(df_sap,j)])
sap_5y

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,236.0,-0.04,2.24,110.0,-1.30,2.55,126.0,1.06,1.07,More Positive,Lost more on Negative days
Tuesday,258.0,0.12,1.54,126.0,-0.99,0.97,132.0,1.18,1.20,More Positive,Gained more on Positive days
Wednesday,257.0,0.23,1.70,104.0,-1.11,1.28,153.0,1.13,1.30,More Positive,Gained more on Positive days
Thursday,255.0,-0.09,1.67,121.0,-1.22,1.45,134.0,0.93,1.09,More Positive,Lost more on Negative days
Friday,253.0,0.09,1.55,107.0,-1.12,1.16,146.0,0.99,1.14,More Positive,Lost more on Negative days

#### SAP

* Best Day = Wednesday
* Worst Day = Thursday

In [1870]:
spy_5y = pd.DataFrame()
for j in weekdays:
    spy_5y = pd.concat([spy_5y, calMean(df_spy,j)])  
spy_5y

,R,Mean R,Std R,Rn,Mean Rn,Std Rn,Rp,Mean Rp,Std Rp,Rn vs Rp,Mean Rn vs Mean Rp
Monday,236.0,0.05,1.39,99.0,-0.86,1.49,137.0,0.71,0.85,More Positive,Lost more on Negative days
Tuesday,258.0,0.12,1.15,112.0,-0.67,0.70,146.0,0.73,1.05,More Positive,Gained more on Positive days
Wednesday,257.0,0.09,1.11,106.0,-0.74,1.02,151.0,0.67,0.75,More Positive,Lost more on Negative days
Thursday,255.0,-0.00,1.17,117.0,-0.71,1.25,138.0,0.60,0.64,More Positive,Lost more on Negative days
Friday,253.0,0.06,1.11,111.0,-0.73,0.85,142.0,0.67,0.89,More Positive,Lost more on Negative days

#### SPY

* Best Day = Tuesday
* Worst Day = Thursday

### 2. are these days the same for your stock as they are for S&P-500?

No, SAP's best day is different then that of SPY-500, but SAP's worst day matches that of SPY-500

### 3. If daily returns were normally distributed with mean and standard de-viation

In [1871]:
sap_n1 = np.mean(df_sap["Return"]) - (2 * np.std(df_sap["Return"]))
sap_n2 = np.mean(df_sap["Return"]) + (2 * np.std(df_sap["Return"]))

In [1872]:
spy_n1 = np.mean(df_spy["Return"]) - (2 * np.std(df_spy["Return"]) )
spy_n2 = np.mean(df_spy["Return"]) + (2 * np.std(df_spy["Return"]) )

In [1873]:
sap_day = np.where((df_sap["Return"] < sap_n1) | (df_sap["Return"] > sap_n2),1,0)
spy_day = np.where((df_spy["Return"] < spy_n1) | (df_spy["Return"] > spy_n2),1,0)

In [1981]:
print(f"""
For SAP normally distributed days: {sap_day.sum()} 
distribution percentage {round(sap_day.sum()/len(sap_day)*100,2)}%

For SPY normally distributed days: {spy_day.sum()} 
distribution percentage {round(spy_day.sum()/len(spy_day)*100,2)}%
""")

For SAP normally distributed days: 53
distribution percentage 4.21%

For SPY normally distributed days: 58
distribution percentage 4.61%

## Question 4

In [1875]:
def invCal(amt,daily_ret):
    amount = amt
    for i in range(len(daily_ret)):
        if daily_ret[i] >= 0:
            amount = amount * (1 + daily_ret[i])
        else:
            amount
    return amount

#### Let p = 1

#### 1. Your Stock

In [1982]:
sap_p1_return = round(invCal(100,df_sap["Return"]),2)
print(f"SAP investment from $100 after 5 years went upto ${sap_p1_return}")

SAP investment from $100 after 5 years went upto $137488.43

#### 2. S&P-500

In [1983]:
spy_p1_return = round(invCal(100,df_spy["Return"]),2)
print(f"SAP investment from $100 after 5 years went to ${spy_p1_return}")

SAP investment from $100 after 5 years went to $12045.96

#### 3. take the last two digits of your BU id

In [1878]:
amt = 100
bu_amt = amt + 25
sap_day_count = 0

for i in range(len(df_sap["Return"])):
        if df_sap["Return"][i] >= 0:
            amt = amt * (1 + df_sap["Return"][i])
            sap_day_count += 1
        if amt >= bu_amt:
            break
        else:
            sap_day_count += 1
print(f"It will take {sap_day_count} days for SAP stock to get to the amount of $100 + $25(BU ID)")

It will take 54 days for SAP stock to get to the amount of $100 + $25(BU ID)

In [1879]:
amt = 100
bu_amt = amt + 25
spy_day_count = 0

for i in range(len(df_spy["Return"])):
        if df_spy["Return"][i] >= 0:
            amt = amt * (1 + df_spy["Return"][i])
            spy_day_count += 1
        if amt >= bu_amt:
            break
        else:
            spy_day_count += 1
print(f"It will take {spy_day_count} days for SPY-500 stock to get to the amount of $100 + $25(BU ID)")

It will take 66 days for SPY-500 stock to get to the amount of $100 + $25(BU ID)

## Question 5

In [1880]:
def invBHCal(amt,daily_ret):
    amount = amt
    for i in range(len(daily_ret)):
        amount = amount * (1 + daily_ret[i])
    return amount

#### 1. how much money will you have on the last trading day of year 5?

In [1881]:
sap_BH_5 = round(invBHCal(100,df_sap["Return"]),2)
spy_BH_5 = round(invBHCal(100,df_spy["Return"]),2)

print(f"""
For Buy and Hold investment return for SAP: ${sap_BH_5}
For Buy and Hold investment return for SPY-500: ${spy_BH_5}
""")

For Buy and Hold investment return for SAP: $181.81
For Buy and Hold investment return for SPY-500: $204.85

#### 2. how do these results compare with results obtained in question 4?

In [1882]:
bh_p_df = pd.DataFrame({"Strategy":["Buy & Hold","P1"], "SAP":[sap_BH_5,sap_p1_return], "SPY":[spy_BH_5,spy_p1_return]}, index=[1,2])
bh_p_df

     Strategy        SAP       SPY
1  Buy & Hold     181.81    204.85
2          P1  137488.43  12045.96

#### 3. Summer Vacation for your stock?

In [1883]:
sap_summer_df = pd.concat([df_sap[df_sap["Month"] < 6],df_sap[df_sap["Month"] > 8]]).reset_index(drop=True)
sap_summer = round(invBHCal(100,sap_summer_df["Return"]),2)
sap_summer

129.4

In [1884]:
spy_summer_df = pd.concat([df_spy[df_spy["Month"] < 6],df_spy[df_spy["Month"] > 8]]).reset_index(drop=True)
spy_summer = round(invBHCal(100,spy_summer_df["Return"]),2) 
spy_summer

144.17

In [1885]:
print("This is not a good strategy as overall profits have shrinked")
pd.DataFrame({"Strategy":["Buy & Hold","Buy & Hold with Summer Vacation"],\
              "SAP":[sap_BH_5,sap_summer], "SPY":[spy_BH_5,spy_summer]}, index=[1,2])

This is not a good strategy as overall profits have shrinked

                          Strategy     SAP     SPY
1                       Buy & Hold  181.81  204.85
2  Buy & Hold with Summer Vacation  129.40  144.17

#### 4. Monthly Vacation for your stock?

In [1886]:
strategy_name = []
for i in range(1,13):
    strategy_name.append ("B&H without " + calendar.month_name[i])

In [1887]:
sap_month = []
spy_month = []
for i in range(1,13):
    sap_month.append(round(invBHCal(100,df_sap[df_sap["Month"] != i].reset_index(drop=True)["Return"]),2))
    spy_month.append(round(invBHCal(100,df_spy[df_sap["Month"] != i].reset_index(drop=True)["Return"]),2))

In [1888]:
month_df = pd.concat([pd.DataFrame({"Strategy":"Buy and Hold(B&H)","SAP":[sap_BH_5], "SPY":[spy_BH_5]}, index=[1]),\
          pd.DataFrame(list(zip(strategy_name,sap_month,spy_month)), columns=["Strategy","SAP","SPY"])]).reset_index(drop=True)
month_df

                 Strategy     SAP     SPY
0       Buy and Hold(B&H)  181.81  204.85
1     B&H without January  162.43  183.11
2    B&H without February  209.39  215.33
3       B&H without March  166.69  221.22
4       B&H without April  144.43  171.35
5         B&H without May  145.35  197.70
6        B&H without June  162.08  185.28
7        B&H without July  150.40  173.73
8      B&H without August  175.46  187.95
9   B&H without September  174.95  203.41
10    B&H without October  270.12  219.53
11   B&H without November  171.99  163.83
12   B&H without December  173.41  203.83

* SAP Best Month to avoid **October** and Worst Month avoid **April**
* SPY-500 Best Month avoid **March** and Worst Month avoid **November**

## Question 6

In [1968]:
def invPCal(amt,daily_ret,p):
    amount = amt
    for i in range(len(daily_ret)):
        rand = random.random()
        if p==1:
            if daily_ret[i] >= 0:
                amount = amount * (1 + daily_ret[i])
        if rand <= p and p!=1:
            if daily_ret[i] >= 0:
                amount = amount * (1 + daily_ret[i])
        if rand > p:
            if daily_ret[i] < 0:
                amount = amount * (1 + daily_ret[i])
    return amount

In [1969]:
p = [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]
p_strategy = ["p=0","p=0.1","p=0.2","p=0.3","p=0.4","p=0.5","p=0.6","p=0.7","p=0.8","p=0.9","p=1"]
sap_p = []
spy_p = []

for i in p:
    sap_p.append(round(invPCal(100,df_sap["Return"],i),2))
    spy_p.append(round(invPCal(100,df_spy["Return"],i),2))

In [1970]:
p_df = pd.concat([pd.DataFrame({"Strategy":"Buy and Hold(B&H)","SAP":[sap_BH_5], "SPY":[spy_BH_5]}, index=[1]),\
          pd.DataFrame(list(zip(p_strategy,sap_p,spy_p)), columns=["Strategy","SAP","SPY"])]).reset_index(drop=True)
p_df

             Strategy        SAP       SPY
0   Buy and Hold(B&H)     181.81    204.85
1                 p=0       0.13      1.70
2               p=0.1       0.47      3.91
3               p=0.2       2.04     10.11
4               p=0.3       9.03     26.29
5               p=0.4      20.76     65.35
6               p=0.5     150.53    171.57
7               p=0.6     472.85    300.03
8               p=0.7    2436.95   1072.37
9               p=0.8   11019.89   1840.19
10              p=0.9   41466.67   4705.62
11                p=1  137488.43  12045.96

#### 1. for what value of p, the results are comparable to buy-and-hold strategy. Is this value the same for your stock sa as it is for SP=500?

* SAP
    * p = 0.5 gives results comparable to Buy and Hold strategy.
* SPY 500
    * p = 0.5 gives results comparable to  Buy and Hold strategy.

**Although the value changes and the above probability can change as we are using random values to generate probability.**

#### 2. examine your table. Any patterns?

* I see a exponential growth as we near to perfect oracle p = 1.

## Question 7

In [1971]:
def invBWCal(amt,daily_pred,daily_ret):
    amount = amt
    for i in range(len(daily_pred)):
        if daily_pred[i] == "+":
            amount = amount * (1 + daily_ret[i])
    return round(amount,2)

In [1972]:
df_sap_10_b = df_sap.copy()
for i in df_sap_10_b.sort_values(by=["Return"],ascending=False).head(10).index:
    df_sap_10_b.at[i,"True Label"] = "-"
    
    
df_spy_10_b = df_spy.copy()
for i in df_spy_10_b.sort_values(by=["Return"],ascending=False).head(10).index:
    df_spy_10_b.at[i,"True Label"] = "-"
    
    
df_sap_10_w = df_sap.copy()
for i in df_sap_10_w.sort_values(by=["Return"]).head(10).index:
    df_sap_10_w.at[i,"True Label"] = "+"
    
    
df_spy_10_w = df_spy.copy()
for i in df_spy_10_w.sort_values(by=["Return"]).head(10).index:
    df_spy_10_w.at[i,"True Label"] = "+"
    
    
df_sap_5_bw = df_sap.copy()
for i in df_sap_5_bw.sort_values(by=["Return"]).head(5).index:
    df_sap_5_bw.at[i,"True Label"] = "+"
for i in df_sap_5_bw.sort_values(by=["Return"],ascending=False).head(5).index:
    df_sap_5_bw.at[i,"True Label"] = "-"
    
df_spy_5_bw = df_spy.copy()
for i in df_spy_5_bw.sort_values(by=["Return"]).head(5).index:
    df_spy_5_bw.at[i,"True Label"] = "+"
for i in df_spy_5_bw.sort_values(by=["Return"],ascending=False).head(5).index:
    df_spy_5_bw.at[i,"True Label"] = "-"

In [1973]:
sap_10b = invBWCal(100,df_sap_10_b["True Label"],df_sap_10_b["Return"])
sap_10w = invBWCal(100,df_sap_10_w["True Label"],df_sap_10_w["Return"])

spy_10b = invBWCal(100,df_spy_10_b["True Label"],df_spy_10_b["Return"])
spy_10w = invBWCal(100,df_spy_10_w["True Label"],df_spy_10_w["Return"])

sap_5bw = invBWCal(100,df_sap_5_bw["True Label"],df_sap_5_bw["Return"])
spy_5bw = invBWCal(100,df_spy_5_bw["True Label"],df_spy_5_bw["Return"])

In [1974]:
sap_str_bw = ["missed 10 best days","invested during 10 worst days","missed 5 best days and invested during 5 worst days"]
sap_bw = [sap_10b,sap_10w,sap_5bw]
spy_bw = [spy_10b,spy_10w,spy_5bw]

#### 1. Summarize your results in the following table:

In [1988]:
df_bw = pd.concat([bh_p_df,\
          pd.DataFrame(list(zip(sap_str_bw,sap_bw,spy_bw)), columns=["Strategy","SAP","SPY"])]).reset_index(drop=True)
df_bw

                                            Strategy        SAP       SPY
0                                         Buy & Hold     181.81    204.85
1                                                 P1  137488.43  12045.96
2                                missed 10 best days   67551.30   6884.72
3                      invested during 10 worst days   52192.91   6365.38
4  missed 5 best days and invested during 5 worst...   46683.00   5677.58

#### 2. do you lose more by missing the best days or by being invested on the worst days?

Lost more by investing on the worst days for both **SAP** and **SPY**.

#### 3. for each part (a),(b) and (c) what are your estimates for the probability p if you used statistical oracle instead of an angry one.

* p = 0.9 has the closest values for 
    * missed 10 best days
    * invested during 10 worst days
    * missed 5 best days and invested during 5 worst days