In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn . metrics import mean_squared_error , r2_score
from sklearn.model_selection import train_test_split

In [42]:
df_health = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df_health.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

## Question 1

### 1. load the data into Pandas dataframe. Extract two dataframes with the above 4 features: df 0 for surviving patients (DEATH EVENT = 0) and df 1 for deceased patients (DEATH EVENT = 1)

In [43]:
df_0 = df_health[df_health["DEATH_EVENT"] == 0]\
[["creatinine_phosphokinase","serum_creatinine", "serum_sodium","platelets", "DEATH_EVENT"]].reset_index(drop=True)
df_1 = df_health[df_health["DEATH_EVENT"] == 1][["creatinine_phosphokinase","serum_creatinine", "serum_sodium","platelets", "DEATH_EVENT"]].reset_index(drop=True)

In [44]:
df_0.head(5)

,creatinine_phosphokinase,serum_creatinine,serum_sodium,platelets,DEATH_EVENT
0,80,1.0,138,427000.0,0
1,52,1.3,137,276000.0,0
2,63,0.8,135,368000.0,0
3,159,1.2,138,302000.0,0
4,2656,2.3,137,305000.0,0

In [45]:
df_1.head(5)

,creatinine_phosphokinase,serum_creatinine,serum_sodium,platelets,DEATH_EVENT
0,582,1.9,130,265000.00,1
1,7861,1.1,136,263358.03,1
2,146,1.3,129,162000.00,1
3,111,1.9,137,210000.00,1
4,160,2.7,116,327000.00,1

### 2. for each dataset, construct the visual representations of correponding correlation matrices M0 (from df 0) and M1 (from df 1) and save the plots into two separate files

In [46]:
df_0.iloc[0:,:4].corr().style.background_gradient(cmap='Blues', axis=None)

In [47]:
df_1.iloc[0:,:4].corr().style.background_gradient(cmap='Blues', axis=None)

### 3. examine your correlation matrix plots visually and answer the following:

* Considering highest means the stronget correlation.
* Considering lowest means the weakest correlation.

#### 1. which features have the highest correlation for surviving patients?

* serum_sodium
* serum_creatinine

#### 2. which features have the lowest correlation for surviving patients?

* platelets
* serum_sodium

#### 3. which features have the highest correlation for deceased patients?

* creatinine_phosphokinase
* serum_sodium

#### 4. which features have the lowest correlation for deceased patients?

* platelets
* serum_creatinine

#### 5. are results the same for both cases?

The correlation features which has the highest and lowest values for Surviving and deceases pastients are not same.

## Question 2

#### Group 3: X: serum sodium, Y : serum creatinine

In [48]:
df_0_g3 = df_0.iloc[0:,[1,2]]
df_1_g3 = df_1.iloc[0:,[1,2]]

In [49]:
df_0_g3.head(5)

   serum_creatinine  serum_sodium
0               1.0           138
1               1.3           137
2               0.8           135
3               1.2           138
4               2.3           137

In [50]:
df_1_g3.head(5)

   serum_creatinine  serum_sodium
0               1.9           130
1               1.1           136
2               1.3           129
3               1.9           137
4               2.7           116

In [51]:
def sse(x, y, deg):
    x_tr, x_te, y_tr, y_te = train_test_split(x, y, test_size = 0.5,random_state=5)
    
    weights = np.polyfit(x_tr, y_tr, deg)
    print(f"Weights: {weights}")
    model = np.poly1d(weights)
    predicted = model(x_te)
    
    rmse = np.sqrt(mean_squared_error(y_te, predicted))
    r2 = r2_score(y_te, predicted)
    sse = np.sum((y_te - predicted)**2)
    
    return sse

#### 1. y = ax + b (simple linear regression)

In [52]:
y1_0 = sse(df_0_g3["serum_sodium"].values, df_0_g3["serum_creatinine"].values, 1)
print(f"""Surviving patients SSE:
{y1_0}
""")

y1_1 = sse(df_1_g3["serum_sodium"].values, df_1_g3["serum_creatinine"].values, 1)
print(f"""Deceased patients SSE:
{y1_1}
""")

Weights: [-0.04269339  6.96906298]
Surviving patients SSE:
55.131125456097976

Weights: [-0.0497511   8.60098158]
Deceased patients SSE:
77.22846637946805

#### 2. y = ax2 + bx + c (quadratic)

In [53]:
y2_0 = sse(df_0_g3["serum_sodium"].values, df_0_g3["serum_creatinine"].values, 2)
print(f"""Surviving patients SSE:
{y2_0}
""")

y2_1 = sse(df_1_g3["serum_sodium"].values, df_1_g3["serum_creatinine"].values, 2)
print(f"""deceased patients SSE:
{y2_1}
""")

Weights: [ 8.68480151e-04 -2.73661409e-01  2.22965498e+01]
Surviving patients SSE:
54.70529563746042

Weights: [-2.57628743e-03  6.31294066e-01 -3.63139604e+01]
deceased patients SSE:
81.8891644020097

#### 3. y = ax3 + bx2 + cx + d (cubic spline)

In [54]:
y3_0 = sse(df_0_g3["serum_sodium"].values, df_0_g3["serum_creatinine"].values, 3)
print(f"""Surviving patients SSE:
{y3_0}
""")

y3_1 = sse(df_1_g3["serum_sodium"].values, df_1_g3["serum_creatinine"].values, 3)
print(f"""deceased patients SSE:
{y3_1}
""")

Weights: [ 3.51393518e-04 -1.36994959e-01  1.76914114e+01 -7.54986675e+02]
Surviving patients SSE:
53.94301459693621

Weights: [-5.07086063e-05  1.73651777e-02 -1.97605342e+00  7.70157313e+01]
deceased patients SSE:
82.98481762537577

#### 4. y = a log x + b (GLM - generalized linear model)

In [55]:
y4_0 = sse(np.log(df_0_g3["serum_sodium"].values), df_0_g3["serum_creatinine"].values, 1)
print(f"""Surviving patients SSE:
{y4_0}
""")

y4_1 = sse(np.log(df_1_g3["serum_sodium"].values), df_1_g3["serum_creatinine"].values, 1)
print(f"""deceased patients SSE:
{y4_1}
""")

Weights: [-5.69581834 29.14068586]
Surviving patients SSE:
55.0538494345751

Weights: [-6.43124927 33.42644397]
deceased patients SSE:
76.86008279375076

#### 5. log y = a log x + b (GLM - generalized linear model)

In [56]:
y5_0 = sse(np.log(df_0_g3["serum_sodium"].values), np.log(df_0_g3["serum_creatinine"].values), 1)
print(f"""Surviving patients SSE:
{y5_0}
""")

y5_1 = sse(np.log(df_1_g3["serum_sodium"].values), np.log(df_1_g3["serum_creatinine"].values), 1)
print(f"""deceased patients SSE:
{y5_1}
""")

Weights: [-3.20389717 15.8093994 ]
Surviving patients SSE:
16.292146139166928

Weights: [-3.85655819 19.36151758]
deceased patients SSE:
12.795122201149123

In [57]:
col = ["y = ax + b", "y = ax2 + bx + c", "y = ax3 + bx2 + cx + d", "y = a log x + b", "log y = a log x + b"]

In [58]:
sur_sse = [y1_0, y2_0, y3_0, y4_0, y5_0]

In [59]:
dec_sse = [y1_1, y2_1, y3_1, y4_1, y5_1]

## Question 3

#### Summarize your results from question 2 in a table like shown below:

In [60]:
pd.DataFrame([col, sur_sse, dec_sse], index = ["Model", "SSE (death_event = 0)", "SSE (death_event = 1)"]).T

                    Model SSE (death_event = 0) SSE (death_event = 1)
0              y = ax + b               55.1311               77.2285
1        y = ax2 + bx + c               54.7053               81.8892
2  y = ax3 + bx2 + cx + d                53.943               82.9848
3         y = a log x + b               55.0538               76.8601
4     log y = a log x + b               16.2921               12.7951

#### 1. which model was the best (smallest SSE) for surviving patients? for deceased patients?

The best model for both Surviving and deceased patients was : <font color=green>__log y = a log x + b__</font>

#### 2. which model was the worst (largest SSE) for surving patients? for deceased patients?

* The worst model for Surviving patients was : <font color=red>__y = ax + b__</font>
* The worst model for deceased patients was : <font color=red>__y = ax3 + bx2 + cx + d__</font>