In [370]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [371]:
df_breadB = pd.read_csv("BreadBasket_DMS_output.csv")
df_breadB.head(5)

,Year,Month,Day,Weekday,Period,Hour,Min,Sec,Transaction,Item,Item_Price,category
0,2016,10,30,Sunday,morning,9,58,11,1,Bread,3.01,food
1,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,food
2,2016,10,30,Sunday,morning,10,5,34,2,Scandinavian,10.38,food
3,2016,10,30,Sunday,morning,10,7,57,3,Hot chocolate,9.58,drink
4,2016,10,30,Sunday,morning,10,7,57,3,Jam,10.08,food

In [372]:
def calculate(d_frame,var1,var2):
    return d_frame.groupby([var1])[var2]

## 1. what is the busiest (in terms of number of transactions)?

###    1. Busiest hour of the day?

In [373]:
bus_h_d = calculate(df_breadB,"Hour","Transaction").nunique().nlargest(1)
print(f"Busiest hour of day with {bus_h_d.values[0]} transactions per day at '{bus_h_d.index[0]}:00'")

Busiest hour of day with 1445 transactions per day at '11:00'

###    2. Busiest day of the week

In [374]:
bus_d_w = calculate(df_breadB,"Weekday","Transaction").nunique().nlargest(1)
print(f"{bus_d_w.index[0]} is the busiest day of the week with '{bus_d_w.values[0]}' transactions")

Saturday is the busiest day of the week with '2068' transactions

###    3. Busiest period of the day

In [375]:
bus_p_d = calculate(df_breadB,"Period","Transaction").nunique().nlargest(1)
print(f"{bus_p_d.index[0]} is the busiest period of the day with '{bus_p_d.values[0]}' transactions")

afternoon is the busiest period of the day with '5307' transactions

## 2. what is the most profitable time (in terms of revenue)?

###    1. profitable hour of the day?

In [376]:
profit_h_d = calculate(df_breadB,"Hour","Item_Price").sum().nlargest(1)
print(f"Most profitable time '{profit_h_d.index[0]}:00' of the day with profit of ${profit_h_d.values[0]:.2f}")

Most profitable time '11:00' of the day with profit of $21453.44

###    2. profitable day of the week

In [377]:
profit_d_w = calculate(df_breadB,"Weekday","Item_Price").sum().nlargest(1)
print(f"Most profitable day '{profit_d_w.index[0]}' of the week with profit of ${profit_d_w.values[0]:.2f}")

Most profitable day 'Saturday' of the week with profit of $31531.83

###    3. profitable period of the day

In [378]:
profit_p_d = calculate(df_breadB,"Period","Item_Price").sum().nlargest(1)
print(f"Most profitable period '{profit_p_d.index[0]}' of the day with profit of ${profit_p_d.values[0]:.2f}")

Most profitable period 'afternoon' of the day with profit of $81299.97

## 3. what is the most and least popular item?

In [379]:
print(f"""Most popular item is {df_breadB["Item"].value_counts().head(1).index[0]} with total sold transactions \
{df_breadB["Item"].value_counts().head(1).values[0]} and 
Least popular item is {df_breadB["Item"].value_counts().tail(1).index[0]} with total sold transactions \
{df_breadB["Item"].value_counts().tail(1).values[0]}""")

Most popular item is Coffee with total sold transactions 5471 and
Least popular item is The BART with total sold transactions 1

## 4. assume one barrista can handle 50 transactions per day.How many barristas do you need for each day of the week?

In [380]:
df_barr_p_d = pd.DataFrame(np.ceil(df_breadB.groupby("Weekday")["Transaction"].nunique() / 50))
df_barr_p_d.rename(columns={"Transaction":"barr_per_day"})

           barr_per_day
Weekday
Friday             30.0
Monday             23.0
Saturday           42.0
Sunday             26.0
Thursday           26.0
Tuesday            25.0
Wednesday          23.0

## 5. divide all items in 3 groups (drinks, food, unknown). What is the average price of a drink and a food item?

In [381]:
print(f"""
Average price for drinks ${df_breadB["Item_Price"][df_breadB["category"] == "drink"].mean()} and
Average price for food is ${df_breadB["Item_Price"][df_breadB["category"] == "food"].mean()}
""")

Average price for drinks $8.410870014941196 and
Average price for food is $4.901324436263418

## 6. does this coffee shop make more money from selling drinks or from selling food?

In [382]:
print(f"""
Total revenue for drinks ${df_breadB["Item_Price"][df_breadB["category"] == "drink"].sum()} and
Total revenue for food is ${df_breadB["Item_Price"][df_breadB["category"] == "food"].sum()}

We can conclude drinks make more money based on numbers.
""")

Total revenue for drinks $73182.98 and
Total revenue for food is $53252.89

We can conclude drinks make more money based on numbers.

## 7. what are the top 5 most popular items for each day of the week? does this list stays the same from day to day?

In [383]:
top5 = dict()
for i in np.unique(df_breadB["Weekday"]):
    top5[i] = df_breadB["Item"][df_breadB["Weekday"] == i].value_counts().head(5).index

pd.DataFrame(top5)

     Friday    Monday Saturday  Sunday Thursday Tuesday Wednesday
0    Coffee    Coffee   Coffee  Coffee   Coffee  Coffee    Coffee
1     Bread     Bread    Bread   Bread    Bread   Bread     Bread
2       Tea       Tea      Tea     Tea      Tea     Tea       Tea
3  Sandwich    Pastry     Cake    Cake     Cake    Cake      Cake
4      Cake  Sandwich     NONE    NONE   Pastry  Pastry      NONE

* Tuesday and Thursday have the same list of items.
* Wednesday, Saturday and Sunday has the same list of items.
* Monday and Friday are the ones who have different items then other days.

## 8. what are the bottom 5 least popular items for each day of the week? does this list stays the same from day to day?

In [384]:
bottom5 = dict()
for i in np.unique(df_breadB["Weekday"]):
    bottom5[i] = df_breadB["Item"][df_breadB["Weekday"] == i].value_counts().tail(5).index

pd.DataFrame(bottom5)

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,Vegan Feast,Dulce de Leche,Lemon and coconut,Coffee granules,Duck egg,Ella's Kitchen Pouches,Adjustment
1,Chimichurri Oil,Drinking chocolate spoons,Dulce de Leche,Christmas common,Lemon and coconut,Gingerbread syrup,Polenta
2,Half slice Monster,Mighty Protein,Christmas common,Drinking chocolate spoons,Drinking chocolate spoons,Half slice Monster,Bare Popcorn
3,Fairy Doors,Chocolates,Ella's Kitchen Pouches,Empanadas,Cherry me Dried fruit,Honey,Vegan Feast
4,Coffee granules,Crisps,Cherry me Dried fruit,Bacon,Argentina Night,Nomad bag,Nomad bag

* The bottom 5 are very varied and the list does not remain same across days of the week.

## 9. how many drinks are there per transaction?

In [385]:
num = df_breadB[df_breadB["category"] == "drink"]["category"].count()
den = df_breadB["Transaction"].nunique()

print(f'{np.ceil(num/den)} drink per transaction')

1.0 drink per transaction